.button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 31px 39px 30px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  color: $additional-color-one;
  background-color: $secondary-color-one;
  border: 0;

  @media (max-width: $desktop-width) {
    padding: 20px 40px 16px;
    font-size: 10px;
    line-height: 12.19px;
  }

  &:hover {
    background-color: $secondary-color-two;
  }

  &:active {
    opacity: 0.5;
  }

  &:focus {
    outline: 2px solid $primari-color-one;
  }
}
