.page-main {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 140px;
  justify-items: center;
  margin: 0 0 100px;
  background-image: url("../../img/map-decor.svg");
  background-position: top 1525px center;
  background-repeat: no-repeat;


  @media (max-width: $desktop-width) {
    grid-template-columns: 1fr;
    row-gap: 40px;
    margin: 0 0 30px;
    background-image: none;
  }

  @media (max-width: $tablet-width) {
    row-gap: 0;
  }
}
