.place-card__link {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;

  &:hover {
    .place-card__hover-wrapper {
      display: flex;
    }
  }

  &:active {
    .place-card__hover-wrapper {
      background-color: rgba($primari-color-one, 0.4);
    }
  }

  &:focus {
    .place-card__hover-wrapper {
      display: flex;
    }
  }
}

.place-card__hover-wrapper {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba($primari-color-one, 0.6);
}

.place-card__hover-text {
  padding: 30px 25px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  text-transform: uppercase;
  color: $additional-color-one;
  border: 1px solid rgba($additional-color-one, 0.7);
}

.place-card__image-wrapper {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
}

.place-card__image {
  vertical-align: bottom;

  @media (max-width: $desktop-width) {
    width: 288px;
    height: 425px;
  }
}

.place__name {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
  align-self: end;
  box-sizing: border-box;
  width: 215px;
  margin: 0 0 -1px;
  padding: 17px 10px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  letter-spacing: -0.41px;
  text-align: center;
  background-color: $additional-color-one;
}
