.tabs {
  display: flex;
  flex-direction: column;
  min-width: 1020px;
  margin: 0 0 65px;

  @media (max-width: $desktop-width) {
    min-width: 100%;
    margin: 0 0 37px;
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 40px;
  }
}

.tabs__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 60px 0;
  padding: 0;

  @media (max-width: $desktop-width) {
    margin: 0;
  }

  &--names {
    max-width: 900px;
    margin: 0 60px 50px;
    padding: 25px 0 15px;
    border-bottom: 1px solid rgba($primari-color-two, 0.3);

    @media (max-width: $desktop-width) {
      flex-wrap: nowrap;
      max-width: 90vw;
      margin: 0 auto;
      padding: 0 0 16px;
      overflow: auto;
    }

    @media (max-width: $tablet-width) {
      padding: 0 0 16px;
    }
  }
}

.tabs__list-item {
  list-style: none;

  &--names {
    display: flex;
    flex-direction: column;

    @media (max-width: $desktop-width) {
      padding: 0 50px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 25px;
      }
    }
  }
}

.tabs__name-list-link {
  font-size: 20px;
  line-height: 24.38px;
  font-weight: 500;
  letter-spacing: -0.41px;
  color: rgba($primari-color-two, 0.3);

  &--current {
    color: $secondary-color-one;
  }

  &:hover {
    color: rgba($secondary-color-two, 0.7);
  }

  &:active {
    color: rgba($secondary-color-two, 0.3);
  }

  &:focus {
    outline: 1px solid $secondary-color-two;
  }
}
