.page {
  font-family: "Montserrat", "Arial", sans-serif;
  height: 100%;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  color: $primari-color-one;
}

.page-body {
  display: grid;
  row-gap: 100px;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
}
