$primari-color-one: #141517;
$primari-color-two: #2c2e3f;
$secondary-color-one: #fe7865;
$secondary-color-two: #f17d4b;
$additional-color-one: #ffffff;
$additional-color-two: #fbf8f8;
$additional-color-three: #000000;
$additional-color-four: #293642;
$additional-color-five:#d7d9df;
$additional-color-six: #48494d;
$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;
