$primari-color-one: #141517;
$primari-color-two: #2C2E3F;
$secondary-color-one: #FE7865;
$secondary-color-two: #F17D4B;
$additional-color-one: #FFFFFF;
$additional-color-two: #FBF8F8;
$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;
